head{
    background-color: plum;
    height: 50px;
}

body{
    background-color: lemonchiffon;
    height: 10rem;
}

h1{
    text-align: center;
}

.diriku{
    text-align: center;
}

img{
    text-align: center;
    width: 30px;
    height: 30px;
}